<%= render 'new_server', server: @server if admin? %>

<div class="page-header">
  <h2>Known Servers</h2>
</div>

<table class="datatable table table-striped display" id="servers_datatable" data-source="<%= servers_url format: 'json' %>">
  <thead>
  <tr>
    <th>Hostname</th>
    <th>Deployments</th>
    <th>Projects</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
