<div class="panel-group" id="projects_filters_accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#projects_filters_accordion" href="#projects_filters_accordion_collapse">
          <i class="fa fa-filter"></i> Filter Projects
        </a>
      </h4>
    </div>

    <div id="projects_filters_accordion_collapse" class="panel-collapse collapse">
      <div class="panel-body">
        <%= render 'projects_filters' %>
      </div>
    </div>
  </div>
</div>