<div style="margin-top: -10px;">
  <span class='label label-info'>ID: <%= project.id %></span>
  <span class='label label-info'>Cache path: /cache/<%= project.cached_directory %></span>
  <span class='label label-info'>Cache revision: <%= project.cache_repository_revision %></span>
</div>
